{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ProgRock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="real-time progress with django channels and websockets!">

    {% block css %}
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="container">

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div>

    {% block javascript %}
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </body>
</html>
